# Ignore local portable JDK to keep build size tiny (1MB instead of 200MB)
jdk21/
jdk-21.0.11+10/

# Ignore Android and iOS native folders completely to force clean Expo prebuild on the cloud
android/
ios/

# Ignore local build output APKs
**/*.apk

# Ignore local node_modules
node_modules/
